.SwitchCircle {
  transition: all 0.3s ease-in-out;
  transform: translate(0px);
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 8px;
}
.SwitchCircle--isOn {
  transform: translate(16px);
}

.Switch {
  transition: all 0.3s ease-in-out;
  transform: translate(0px);
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}
.Switch--isOn {
  background-color: #61dafb;
  border: 1px solid #61dafb;
}
