.DrawerMenuLeft {
  transition: all 0.3s ease-in-out;
  transform: translate(0px);
  position: fixed;
  background-color: white;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 8px;
}
.DrawerMenuLeft--isClose {
  transform: translate(-100%);
}

.PCmode {
  width: 400px;
  transform: translate(0px);
}

.backDrop {
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.backDrop--isOpen {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
