.DrawerMenuLeft {
  transition: all 0.3s ease-in-out;
  transform: translate(0px);
  position: fixed;
  background-color: white;
  width: 80%;
  height: 100vh;
  z-index: 1;
}
.DrawerMenuLeft--isClose {
  transform: translate(-100%);
}

.PCmode {
  width: 400px;
  transform: translate(0px);
}

.backDrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  /* border-width: 0; */
}
